<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
  <title>Downloading</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" type="image/png" href="<%= @serverURL %>resources/icatcher_icon_16.png" />

  <!-- 1140 css grid things -->
  <link rel="stylesheet" href="/resources/1140.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/resources/styles.css" type="text/css" media="screen" />
	<script type="text/javascript" src="/resources/css3-mediaqueries.js"></script>  
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="twelvecol last">
        <div class="maintitle">
          <a href="<%= $webserverURL %>"><img src="/resources/icatcher_icon_512.png" class="largeicon" /></a>
          <h1 class="largetitle"><a href="<%= $webserverURL %>">iCatcher</a></h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="twelvecol last">
        <h1><%= @mc.title %></h1>
        <br/>
    <% @mc.media_items.each do |mi| %>
         <h3><%= mi.title %></h3>
         <p><%= mi.description %></p>
         <small><p>Downloaded on <%= mi.human_date %></p></small>
         <hr />
    <% end %>
      </div>
    </div>
  </div>
</body>

</html>